@charset "utf-8";
@use     "../structures/list" as list;
@use     "../structures/input" as input;

// =========================================
// 検索条件リストの li スタイル
// ・横並び表示
// ・左右マージン 0.25rem
// ・ホバー時は太字
// =========================================
@mixin setCriteriaListItem() {
	li {
		display: inline;
		margin: 0 0.25rem;
		&:hover {
			font-weight: bold;
		}
	}
}

.criteria {
	&__form {
		line-height: 2;
	}
	&__text {
		&--keyword {
			@include input.setTextBox(10);
		}
	}
	// 検索条件リスト
	&__list {
		&--links {
			@include list.list-no-markers;
			@include setCriteriaListItem();
		}
	}
}