@charset "utf-8";
@use "../../common/" as common;
@use     "../structures/list" as list;
@use     "../structures/input" as input;

// =========================================
// 検索条件リストの li スタイル
// ・横並び表示
// ・左右マージン 0.25rem
// ・ホバー時は太字
// =========================================
@mixin setCriteriaListItem() {
	li {
		display: inline;
		margin: 0 0.25rem;
		&:hover {
			font-weight: bold;
		}
	}
}

.criteria {
	// 検索条件入力テキストボックス
	&__text {
		$length: 9;
		&--keyword {
			@include input.setTextBox($length);
		}
		&--price {
			@include input.setTextBox($length);
		}
	}
	// 検索条件リスト
	&__list {
		&--links {
			@include list.list-no-markers;
			@include setCriteriaListItem();
		}
	}
	&__submit {
		width: common.calcSizeScaledChar(3.5);
		margin-left: common.calcSizeScaledChar(0.5);
	}
}