@charset "utf-8";
@use "../../common/" as common;
@use "../structures/" as structures;

//===========================
// エラーメッセージ表示スタイル
//===========================
@mixin setErrorMessageStyle() {
		color: tomato;
		font-size: 95%;
		line-height: 1.25;
} 

.entry {
	&__error {
		@include setErrorMessageStyle();
	}
	&__table {
		@include structures.table-form();
		& {
			border-collapse: separate;
			border-spacing: 1px;
			border-width: 0;
		}
		.table {
			&__label, &__value {
				padding: common.calcSizeScaledChar(0.125) common.calcSizeScaledChar(0.25);
			}
		}
		.table__label {
			background-color: gainsboro;
			padding: 0 common.calcSizeScaledChar(0.25) 0 common.calcSizeScaledChar(0.75);
			font-weight: normal;
			text-align: right;
			&::after {
				content: "：";
			}
		}
	}
	&__nav {
		margin: common.calcSizeScaledChar(0.25) common.calcSizeScaledChar(0.75) common.calcSizeScaledChar(1.25);
	}
	&__submit {
		margin-left: common.calcSizeScaledChar(0.75);
	}
}