@charset "utf-8";
@use "../structures/" as structures;
@use "../../utils/" as *;

.result {
	&__table {
		@include structures.table-list; // 表の基本スタイルを内包させる
		td {
			&[data-type="id"] { // 中央寄せ：主キー列（商品ID）
				@extend .ul__text--center;
			}
			&[data-type="number"] { // 右寄せ：数値列（価格・数量）
				@extend .ul__text--right;
			}
		}
	}
}
