@charset "utf-8";

@mixin table-list($holizontal: 0.25rem, $vartual: 0.75rem) {
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid dimgray;
	th, td {
		border: 1px solid dimgray;
		padding: $holizontal $vartual;
	}
}